POSTGRES_DB=ark
POSTGRES_USER=ark
POSTGRES_PASSWORD=replace-with-local-password
POSTGRES_PORT=54329

REDIS_PORT=63799

MINIO_ROOT_USER=ark-local
MINIO_ROOT_PASSWORD=replace-with-local-password
MINIO_API_PORT=9009
MINIO_CONSOLE_PORT=9010
